@model IEnumerable<Presentation.Models.ViewModels.ListProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form method="post" action="\Products\Search"  >
        <div class="form-group">
            <label for="search">Search</label>
            <input name="keyword" type="text" class="form-control" id="search" placeholder="Enter keyword to search for">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<div>
    @foreach(var item in Model)
    {
        <div class="card">
             <a href="\Products\Details\@item.Id">
                     <img src="@item.Image" alt="@item.Name">
                      <div class="container">
                        <h4><b>@item.Name</b></h4>
                        <p>€@item.RetailPrice</p>
                      </div>
              </a>
        </div>
    }
</div>