@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <form method="post" action="\Products\Search" style="border: solid 1px black" >
        <div class="form-group">
            <label for="search">Search</label>
            <input name="keyword" type="text" class="form-control" id="search" placeholder="Enter keyword to search for">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>